@import "tailwindcss";

@font-face {
  font-family: 'Inter var';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}